<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--要设置实现接口的具体包加类名-->
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="login" resultType="com.example.demo.model.UserInfo">
        select * from userinfo where loginname = #{loginname} and password = #{password} and isadmin = 1
    </select>
</mapper>